body {background: #fff;}

#page_wrapper {display: none;}

.chromeFrameInstallDefaultStyle {width: 800px; border: 1px solid #879bb9; position: absolute; top: 50%; left: 50%;}

#ie6alert {position: absolute; top: 35px; left: 50%; width: 800px; margin-left: -400px; text-align: center; font-family: Arial,sans-serif; font-size: 20px; background: #fff; border: 1px solid #93b4d9; color: #1639ba; padding: 8px 0;}