html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #f2f1e1;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 11px;
}

img {border: none;}

a {outline: none;}

form, input, textarea, select {
	margin: 0;
	padding: 0;
}

input[type="text"], input[type="password"], textarea, select {outline: none;}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

table {border-collapse: collapse;}

td, th {
	font-size: 11px;
	vertical-align: top;
}

button, label {
	cursor: pointer;
	cursor: hand;
	font-family: Arial, Tahoma, sans-serif;
}

iframe {border: 1px solid #dcdcdc;}

ol {
	padding: 0 0 0 16px;
	margin: 0 0 15px 0;
}

ol li {margin: 0 0 4px 0;}

ul {
	margin: 0 0 15px 18px;
	padding: 0;
	list-style-position: inside;
}

a:link, a:visited {color: #2c76b9; text-decoration: underline;}
a:hover, a:active {color: #ed7d20; text-decoration: underline;}

p {margin: 0 0 10px 0;}

hr {
	clear: both;
	background: #d2d2d2;
	height: 3px;
	border: none;
}

sup {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	bottom: 1ex;
	font-family: Tahoma;
	font-size: 70%;
}

h1 {
	color: #073b6d;
	font-size: 16px;
	margin: 0 0 10px 0;
}

h2 {
	color: #4583a7;
	font-size: 14px;
	margin: 0 0 10px 0;
}

h3, h4, h5, h6 {
	font-size: 13px;
	margin: 0 0 10px 0;
}

.data table {
	width: 100%;
	margin: 0 0 12px 0;
	border: none !important;
}

.data td {
	border: 1px solid #fff;
	padding: 10px 15px;
	background: #e0e3d8;
	font-size: 12px;
}

.data th {
	border: 1px solid #fff;
	color: #13436d;
	text-align: left;
	padding: 10px 15px;
	background: #c1d0d7;
	font-size: 12px;
}

.data td p, .data th p {margin: 0;}

/* ========================================================= */

.clear {clear: both;}

#clear {
	clear: both;
	height: 92px;
}

.inlined {
	letter-spacing: -3;
	margin: 0;
	padding: 0;
	font-size: 0px;
}

.inlined li {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	letter-spacing: 0;
	font-size: 11px;
	background: transparent;
	padding: 0;
	margin: 0;
}

#page_wrapper {
	min-width: 998px;
	min-height: 100%;
	background: url(/images/back_btm.png) repeat-x 0 100%;
	overflow: hidden;
	position: relative;
}

#page_container {
	min-width: 998px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* ========================================================= */

#left_col {
	float: left;
	width: 100%;
	font-size: 12px;
}

#left_col_in {
	margin: -18px 280px 40px 10px;
	position: relative;
}

.inn3 #left_col_in {margin: -18px 10px 0 10px;}

#right_col {
	float: left;
	width: 269px;
	margin-left: -269px;
}

#right_col_in {
	margin: -18px 0 0 0;
	position: relative;
}

.inn3 #right_col {display: none;}

#shame {
	height: 389px;
	background: url(/images/back_inn.png);
	margin: 0 -1500px;
	padding: 0 1500px;
	position: relative;
}

/* footer ========================================================= */

#shame_line {
	height: 7px;
	background: #d2d2d2;
	position: relative;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 92px;
	width: 100%;
}

#footer_in {
	min-width: 998px;
	max-width: 1200px;
	margin: 0 auto;
	height: 85px;
	font-size: 11px;
	position: relative;
	text-align: left;
	background: url(/images/back_btm.png) repeat-x 0 100%;
}

#btm_info {padding: 14px 0 0 162px;}

#btm_info span { 
	float: left;
	margin: 0 0 0 -153px;
	font-weight: bold;
}

#copyright {
	position: absolute;
	top: 14px;
	right: 32px;
}

#copyright a:link, #copyright a:visited {color: #2f2f2f; text-decoration: none;}
#copyright a:hover, #copyright a:active {color: #ed7d20; text-decoration: underline;}

#counter {
	position: absolute;
	top: 14px;
	right: 280px;
	letter-spacing: -3px;
}

#counter img {margin: 0 0 6px 6px;}

/* header ========================================================= */

#head_line {
	position: absolute;
	top: 171px;
	left: 50%;
	margin-left: -648px;
	z-index: 2;
}

#rhombus {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
}

.inn3 #rhombus {margin-left: -230px;}

#logo {
	position: absolute;
	top: 7px;
	left: 10px;
	z-index: 2;
}

#logo_spark {
	position: absolute;
	top: 7px;
	left: 10px;
	z-index: 3;
}

#rhombus_spark {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 3;
	margin-left: -205px;
}

.inn3 #rhombus_spark {margin-left: -230px;}

#company {
	position: absolute;
	top: 103px;
	left: 162px;
	z-index: 2;
}

#icons {
	position: absolute;
	top: 12px;
	left: 160px;
	z-index: 2;
}

#tender {
	position: absolute;
	top: 69px;
	right: 15px;
	z-index: 2;
}


#realty_sales {
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 2;
}

#phone {
	position: absolute;
	top: 60px;
	margin-left: 100%;
	left: -211px;
	border-bottom: 1px dashed #085894;
	padding: 0 0 10px 20px;
	color: #085894;
	font-size: 26px;
	white-space: nowrap;
	letter-spacing: -1;
	line-height: 20px;
	z-index: 2;
}

#phone_icon {
	position: absolute;
	top: 2px;
	left: 0;
}

#search {
	position: absolute;
	top: 330px;
	right: 8px;
	background: url(/images/inn_search.png) no-repeat;
	width: 254px;
	height: 32px;
	z-index: 3;
}

#search input {
	width: 200px;
	border: none;
	background: transparent;
	font-family: Tahoma;
	color: #777b93;
	font-size: 11px;
	margin: 9px 0 0 38px;
}

#menu {
	position: absolute;
	top: 278px;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	font-family: Tahoma;
	text-align: center;
	z-index: 4;
}

#menu li {position: relative;}

#menu li a {
	display: block;
	background: url(/images/menu_btn.png) no-repeat;
	color: #fff;
	text-decoration: none;
}

#menu li a:link, #menu li a:visited {background-position: 0 100px;}
#menu li a:hover, #menu li a:active, #menu li.open a:link, #menu li.open a:visited {background-position: 0 0;}

#menu li a span {
	display: block;
	height: 46px;
	line-height: 44px;
	padding: 0 8px;
	background: url(/images/menu_btn.png) no-repeat;
}

#menu li a:link span, #menu li a:visited span {background-position: 0 100px;}
#menu li a:hover span, #menu li a:active span, #menu li.open a:link span, #menu li.open a:visited span {background-position: 100% -46px;}

#menu div {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: -1px;
	width: 225px;
	text-transform: none;
	text-align: left;
	border-bottom: 1px solid #bdcfe1;
	display: none;
}

#menu .open div {display: block;}

#menu li.open {z-index: 7;}

#menu div a {
	height: 23px;
	line-height: 23px;
	padding: 0 0 0 16px;
}

#menu div a:link, #menu div a:visited {background-position: 0 -92px !important;}
#menu div a:hover, #menu div a:active {background-position: 0 -115px !important;}

#menu li.special a {color: #e7b18a !important;}

#submenu {
	position: absolute;
	top: 326px;
	left: 0;
	width: 100%;
	z-index: 2;
	line-height: 16px;
	height: 40px;
	color: #3e7fb2;
}

#submenu_in {
	padding: 0 320px 0 10px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
}

#submenu span {
	display: -moz-inline-box;
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

#submenu a {
	white-space: nowrap;
	position: relative;
}

#submenu a:link, #submenu a:visited {color: #3e7fb2; text-decoration: none;}
#submenu a:hover, #submenu a:active {color: #ec3800; text-decoration: underline;}

/* left_col ========================================================= */

a.more {
	padding: 0 0 0 18px;
	background: url(/images/bull1.gif) no-repeat 0 4px;
	font-size: 11px !important;
}

#pager {margin: 0 0 12px 0;}

#pager a, #pager span {margin: 0 0 0 8px;}

#pager a.pager_arrow {
	text-decoration: none !important;
	font-size: 18px;
}

#ten_objects {
	position: absolute;
	top: 165px;
	right: 8px;
	z-index: 4;
}

h1.page_header {
	background: #4583a6 url(/images/inn_page_header1.jpg) no-repeat;
	height: 33px;
	line-height: 31px;
	color: #fff;
	margin: 0 0 30px -30px;
	padding: 0 0 0 30px;
	position: relative;
}

.inn3 h1.page_header {margin: 0 -10px 30px -30px;}

h2.page_header {
	background: #fff;
	color: #4583a7;
	padding: 8px 0 9px 30px;
	margin: -30px 0 12px -30px;
	position: relative;
}

.inn3 h2.page_header {margin: -30px -10px 12px -30px;}

#print {
	position: absolute;
	top: 41px;
	right: 12px;
	z-index: 2;
	font-size: 11px;
	background: url(/images/icon_print.gif) no-repeat;
	padding: 0 0 5px 0;
	display: none;
}

#print a {padding: 0 0 0 24px;}

#print a:link, #print a:visited {color: #3d7eb2; text-decoration: underline;}
#print a:hover, #print a:active {color: #ed7d20; text-decoration: underline;}

.img_right {
	float: right;
	margin: 0 0 15px 22px;
	width: 210px;
}

.img_right img, .img_left img {
	display: block;
	margin: 0 0 7px 0;
}

.img_right span, .img_left span {
	display: block;
	margin: 0 4px 0 0;
	padding: 0 32px 0 4px;
	background: url(/images/icon_zoom.gif) no-repeat 100% 2px;
	font-size: 11px;
}

.img_left {
	float: left;
	margin: 0 15px 22px 0;
	width: 210px;
}

.misc_link {
	font-weight: normal;
	font-size: 11px;
	padding: 0 0 0 12px;
	margin: 0 0 0 0px;
	background: url(/images/bull3.gif) no-repeat 0 5px;
}

/*=====================================================================*/

#fifty_ribbon {
	position: absolute;
	top: 174px;
	left: 22px;
	z-index: 20;
}

.input_wrap {
	border: 1px solid #c0d1e3;
	background: #fff;
	padding: 3px 7px;
	border-radius: 3px;
}

.input_wrap input[type="text"], .input_wrap input[type="password"], .input_wrap textarea, .input_wrap select {
	border: none;
	background: url(/images/blank.gif);
	width: 100%;
}

.input_wrap textarea {
	height: 60px;
	resize: none;
}

#tndr_left {
	width: 100%;
	float: left;
}

#tndr_left_in {padding: 16px 316px 0 0}

#tndr_right {
	width: 269px;
	float: left;
	margin: -12px 0 0 -269px;
	/*min-height: 100px;*/
	background: #d2d8d1;
}

#tndr_right_in {padding: 24px 18px;}

/*=== tndr_right =====================*/

#tndr_user {
	position: absolute;
	top: -34px;
	right: 14px;
	font-size: 11px;
}

#tndr_user a {margin: 0 0 0 12px;}

#tndr_menu a {
	width: 100%;
	margin: 0 0 12px 0;
}

/*=== tndr_left ======================*/

#tndr_left h2 {
	color: #3e7fb2;
	margin: 0 0 20px 0;
}

#tndr_left .inlined li {font-size: 12px;}

.tndr_table {
	width: 100%;
	background: #fbfbf6;
	margin: 0 0 42px 0;
}

.tndr_table th {
	background: #d2d8d1;
	text-align: left;
	font-weight: normal;
	font-size: 11px;
	padding: 10px 6px 11px 18px;
	vertical-align: middle;
}

.tndr_table td {
	font-size: 12px;
	padding: 10px 6px 11px 18px;
	vertical-align: middle;
}

.tndr_table .odd td {background: #f6f5ea;}

.tndr_table .tndr_table_subhead td {background: #f2f1e1;}

.tndr_table td.tndr_table_subhead {
	font-size: 14px;
	font-weight: bold;
	padding: 14px 6px 15px 18px;
}

.tndr_alert {
	width: 544px;
	padding: 12px 32px 8px 32px;
	background: #ffede0;
	border: 3px solid #d96a21;
	border-radius: 6px;
	margin: 0 0 28px 0;
	behavior: url(/style/PIE.htc);
}

.tndr_alert.act {
	background: #dcf2e2;
	border: 3px solid #269e56;
}

.tndr_alert p {margin: 0 0 6px 0;}

#tndr_alert_status {
	font-weight: bold;
	font-size: 14px;
}

#tndr_alert_status span {color: #d96a21;}

.act #tndr_alert_status span {color: #218a4b;}

.reg_form {
	padding: 21px 0 0 0;
	margin: 0 0 44px 0;
}

.reg_form .tndr_btn {margin-top: 9px;}

.reg_form p {line-height: 1.6;}

.reg_form h2 {margin: 0 0 18px 0 !important;}

.tndr_form {
	background: #fff;
	border: 1px solid #c0d1e3;
	border-radius: 5px;
	width: 581px;
	padding: 22px 0 11px 32px;
	margin: 0 44px 44px 0;
	behavior: url(/style/PIE.htc);
}

.tndr_form.login_form {
	width: 388px;
	float: left;
}

.tndr_form button {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: visible;
	background: none;
}

.tndr_btn {
	display: inline-block;
	position: relative;
	background: #fff;
	border: 1px solid #3e7fb2;
	color: #3e7fb2;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	font-weight: bold;
	width: 118px;
	text-align: center;
	border-radius: 3px;
	text-decoration: none !important;
}

.tndr_btn.act, .tndr_btn.cur, a.tndr_btn:hover, a.tndr_btn:active {
	background: #4583a6;
	color: #fff;
}

.tndr_form .tndr_btn {width: 268px;}

.tndr_form .form120 .tndr_btn {width: 118px;}

.tndr_form label input {
	position: relative;
	margin: 0 8px 0 0;
	top: 2px;
}

.tndr_form li {
	margin: 0 12px 12px 0;
	/*vertical-align: middle;*/
	position: relative;
}

.tndr_form li.form_text {
	width: 135px;
	margin: 4px 0 12px 0;
	line-height: 1.2;
}

.tndr_form li.form_text.two_lines {margin: -2px 0 0 0;}

.tndr_form.login_form li.form_text {width: 55px;}

.tndr_form.org_form li.form_text {width: 150px;}

.tndr_form li.form_alert {
	width: 145px;
	font-size: 11px !important;
	color: #c22f3d;
	line-height: 1;
}

.tndr_form.org_form li.form_alert {width: 120px;}

.tndr_form li.form120 {
	width: 120px;
	margin-right: 18px;
}
.tndr_form li.form132 {width: 132px;}
.tndr_form li.form180 {width: 180px;}
.tndr_form li.form270 {width: 270px;}

.tndr_cabinet_detail {margin: 0 0 44px 0;}

.tndr_cabinet_detail .tndr_table {margin: 0 0 15px 0;}

.tndr_cabinet_detail .tndr_btn {width: 268px;}

.tndr_cabinet_detail h2 {margin: 0 0 15px 0;}

.tndr_cabinet_detail p {margin: 0 0 15px 0;}

.tndr_table .tndr_btn {
	width: 88px;
	font-size: 11px;
	margin: 0 12px 0 0;
}

.tndr_hidden_topic {
	padding: 4px 0 10px 0;
	display: none;
}