/* user's css */
.orgs {
    background-image:url( ../img/role.png ) !important;
}
.orgs-32 {
    background-image:url( ../img/32/role.png ) !important;
}
.docstypes {
    background-image:url( ../img/file_extension_doc.png ) !important;
}
.docstypes-32 {
    background-image:url( ../img/32/file_extension_doc.png ) !important;
}

.distinations {
    background-image:url( ../img/arrow_branch.png ) !important;
}
.distinations-32 {
    background-image:url( ../img/32/arrow_branch.png ) !important;
}

.graycell {
    color: #979797;    
}