/* user's css */
.orgs {
    background-image:url( ../img/role.png ) !important;
}
.orgs-32 {
    background-image:url( ../img/32/role.png ) !important;
}
.docstypes {
    background-image:url( ../img/file_extension_doc.png ) !important;
}
.docstypes-32 {
    background-image:url( ../img/32/file_extension_doc.png ) !important;
}

.distinations {
    background-image:url( ../img/arrow_branch.png ) !important;
}
.distinations-32 {
    background-image:url( ../img/32/arrow_branch.png ) !important;
}

.tender {
    background-image:url( ../img/auction_hammer_gavel.png ) !important;
}
.tender-32 {
    background-image:url( ../img/32/auction_hammer_gavel.png ) !important;
}
.refs {
    background-image:url( ../img/book_open.png ) !important;
}
.refs-32 {
    background-image:url( ../img/32/book_open.png ) !important;
}

.graycell {
    color: #979797;    
}

.parent-item {
    font-weight: bold;
    color: #777;
}

.topbuttons {
    width: 32px!important;
    position: absolute;
    margin: -55px auto!important;
    height: 32px!important;
}
#images-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

#images-view .thumb img{
    /* height: 60px; */
    width: 120px;
}
#images-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#images-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

#images-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(over.gif) repeat-x left top;
    padding: 4px;
}

#images-view .x-item-selected{
    background: #eff5fb url(selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#images-view .x-item-selected .thumb{
    background:transparent;
}

#images-view .loading-indicator {
    font-size:11px;
    background-image:url('/admin/ext/resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}